Googel Fonts  */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
/* Googel Fonts End  

*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
.bg-flat-color-1 {
  background: #00c292; }
  
@font-face {
    font-family: 'holyfatregular';
    src: url('../assets/fonts/holyfat-webfont.woff2') format('woff2'),
         url('../assets/fonts/holyfat-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.bg- {
  background: #ef5350; }


.bg-white {
  background-color: #fff; }


.icon-lg {
  font-size: 4.68em; }

.fw-r {
  font-weight: normal; }


.text-up {
  text-transform: uppercase; }

.br-0 {
  border: none !important; }

.black-rgba {
  background-color: rgba(0, 0, 0, 0.15) !important; }

.color-white {
  color: #fff !important; }

.color-red {
  color: #dc3545; }

.font-3xl {
  font-size: 2.8125em; }

.font-4xl {
  font-size: 3.75em; }

.width-90 {
  width: 90px; }

.height-15 {
  height: 15px; }

.height-93 {
  height: 93px; }

.height-100 {
  height: 100px; }

.inline-block {
  display: inline-block; }

.mb-15 {
  margin-bottom: 15px; }


.white-color {
  color: #fff; }

.flat-color-1 {
  color: #00c292; }

.flat-color-2 {
  color: #ab8ce4; }

.flat-color-3 {
  color: #03a9f3; }

.flat-color-4 {
  color: #fb9678; }

.flat-color-5 {
  color: #66bb6a; }

.flat-color-6 {
  color: #5c6bc0; }
  
.flat-color-7 {
	color: #cb3234;
}


.text-up {
  text-transform: uppercase; }

.br-0 {
  border: none !important; }

.black-rgba {
  background-color: rgba(0, 0, 0, 0.15) !important; }

.color-white {
  color: #fff !important; }

.color-red {
  color: #dc3545; }

.transition {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

body {
  display: table;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  width: 100%; 
  height: 100vh;
  background: rgb(254,232,180);
}

p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #878787; }
  
.col-lg-8 p{
	padding-left: 30px;
    padding-right: 30px;
}

p:focus {
  border: none;
  outline: 0; }


a:hover,
a:focus {
  text-decoration: none;
  color: #000; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

h5 {
  font-size: 1em; }

ul,
ol {
  padding-left: 0; }

.btn:focus,
button:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0; }

.btn.disabled, .btn:disabled {
  cursor: not-allowed; }


.modal-header {
  display: block; }

.mb-0 {
  margin-bottom: 0; }

.pb-0 {
  padding-bottom: 0; }

.ov-h {
  overflow: hidden; }

.btn,
button,
input,
textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0 !important; }

.no-padding {
  padding: 0 !important; }

.progress-thin {
  border-radius: 0;
  height: 5px; }

canvas {
  max-width: 100%; }

.btn {
  border-radius: 3px; }

.text-muted {
  font-size: 14px; }
  .text-muted.muted-black {
    color: #333648 !important;
    font-weight: 600; }

.progress-box {
  margin-bottom: 30px; }
  .progress-box .por-title {
    font-size: 1em;
    font-weight: 600;
    color: #868e96;
    padding-bottom: 5px; }
  .progress-box .por-txt {
    font-size: 13px;
    padding-bottom: 5px; }

.order-table {
  position: relative; 
  }

  .order-table tr th {
    background: #e8e9ef; 
	text-align: center;}
 
 
  .order-table tr td {
    text-align: center;}
  
  .table td, .table th {
  	vertical-align: middle;
  }



/* Global Styles */
/* Main Styles */

.content {
  float: left;
  padding: 1.875em;
  width: 100%; 
  background-color: rgb(254,232,180);
  }

.card {
  margin-bottom: 1.875em;
  border-radius: 5px;
  padding: 0;
  border: 0px solid transparent;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.08); }
  .card .box-title {
    font-family: 'holyfatregular';
    font-size: 40px;
    font-weight: 300;
    color: rgb(45,108,180);
    padding-top: 5px; 
    padding-left: 10px;
    }
    
.card .box-title svg{
	margin-top: -10px;
    margin-left: 10px;
	font-size: 30px;
} 

 
  .card .card-top,
  .card .card-footer {
    background: #fafafa;
    border-bottom: 1px solid #e8e9ef;
    float: left;
    padding: .75em 1.125em;
    width: 100%; }
    .card .card-top .card-title,
    .card .card-footer .card-title {
      color: #343a40;
      font-size: .875em;
      font-weight: 600;
      padding-top: 5px;
      text-transform: capitalize; }
    .card .card-top button,
    .card .card-footer button {
      background: none;
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      color: #868e96;
      font-size: 12px;
      padding: 0 5px; }
    .card .card-top[class*="bg"] .card-title,
    .card .card-footer[class*="bg"] .card-title {
      color: #fff; }
    .card .card-top[class*="bg"] button,
    .card .card-footer[class*="bg"] button {
      color: #fff; }
    .card .card-top.p-0 .card-title,
    .card .card-footer.p-0 .card-title {
      padding: 1.125em; }
    .card .card-top.bg-flat-color-1,
    .card .card-footer.bg-flat-color-1 {
      background: #5c6bc0;
      border: none; }
    .card .card-top.bg-flat-color-2,
    .card .card-footer.bg-flat-color-2 {
      background: #42a5f5;
      border: none; }
    .card .card-top.bg-flat-color-3,
    .card .card-footer.bg-flat-color-3 {
      background: #ffa726;
      border: none; }
    .card .card-top.bg-flat-color-4,
    .card .card-footer.bg-flat-color-4 {
      background: #ef5350;
      border: none; }
    .card .card-top.bg-flat-color-5,
    .card .card-footer.bg-flat-color-5 {
      background: #4dbd74;
      border: none; }
    .card .card-top.bg-flat-color-6,
    .card .card-footer.bg-flat-color-6 {
      background: #66bb6a;
      border: none; }
  .card .card-left {
    width: 60%; }
  .card .card-right {
    width: 40%; }
  .card .card-body {
    float: left;
    padding: 1.25em;
    position: relative;
    width: 100%; }
  .card h4 {
    font-size: 1.1rem; }
  .card .user-header .media img {
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    -webkit-border-radius: 50%; }
  .card .card-header .card-actions button {
    display: block;
    float: left;
    width: 50px;
    padding: .75rem 0;
    margin: 0 !important;
    color: #fff;
    outline: 0;
    text-align: center;
    background: transparent;
    border: 0;
    border-left: 1px solid rgba(120, 130, 140, 0.4); }
  .card .card-footer {
    padding: 0.65rem 1.25rem;
    background-color: #f0f3f5;
    border-top: 1px solid #c2cfd6; }
    .card .card-footer ul li {
      display: table-cell;
      padding: 0 1rem;
      text-align: center; }
  .card .nav-tabs {
    margin-bottom: -1px; }
    .card .nav-tabs a {
      border-radius: 0;
      color: #b5bcc2;
      font-size: 12px;
      font-weight: 700;
      padding: .25em .5em;
      text-transform: uppercase; }
      .card .nav-tabs a:hover {
        border-color: transparent; }
    .card .nav-tabs .active a {
      border-color: #e8e9ef;
      color: #868e96 !important; }


/* Tabs */

.card .card-header .card-actions {
  float: right; }
 

/* Icons */
.icon-section {
  margin: 0 0 3em;
  clear: both;
  overflow: hidden; }

.icon-container {
  width: 240px;
  padding: .7em 0;
  float: left;
  position: relative;
  text-align: left; }

.icon-container [class^="ti-"],
.icon-container [class*=" ti-"] {
  color: #000;
  position: absolute;
  margin-top: 3px;
  -webkit-transition: .3s;
  transition: .3s; }

.icon-container:hover [class^="ti-"],
.icon-container:hover [class*=" ti-"] {
  font-size: 2.2em;
  margin-top: -5px; }

.icon-container:hover .icon-name {
  color: #000; }

.icon-name {
  color: #aaa;
  margin-left: 35px;
  font-size: 14px;
  -webkit-transition: .3s;
  transition: .3s; }

.icon-container:hover .icon-name {
  margin-left: 45px; }

.fontawesome-icon-list .page-header {
  border-bottom: 1px solid #C9CDD7;
  padding-bottom: 9px;
  margin: 30px 0px 27px 0px; }
.fontawesome-icon-list h2 {
  margin-top: 0;
  font-size: 20px;
  font-weight: 300; }
.fontawesome-icon-list i {
  font-style: 16px;
  padding-right: 10px; }




/*    Widget Five
---------------------------*/
.stat-widget-five {
  min-height: 60px; }
  .stat-widget-five .stat-icon {
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    left: 30px;
    top: 20px; }
  .stat-widget-five .stat-content {
    margin-left: 80px; }
  .stat-widget-five .stat-text {
    color: #455a64;
    font-size: 20px; 
    text-align: center;
    }
  .stat-widget-five .stat-heading {
    color: rgb(45,108,180);
    font-size: 40px; 
    text-align: center;
    font-family: 'holyfatregular';
    font-weight: 300;
    }

.horizontal:before {
  background: #ffffff;
  bottom: 0;
  content: "";
  height: 38px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 1px; }


@media (max-width: 1368px) {

  .card-body {
    padding: 15px; }

  .badges button {
    margin: 2px 0; }

  #g2 {
    padding-top: 33px; }

  .timeline li .time {
    padding-bottom: 10px; }

  .height-93 {
    height: 75px; }

  .height-100 {
    height: 90px; }

  .widget .row.p-4.height-93 {
    padding: 1.125em 1.75em !important; }
  .widget .card-footer.p-3.bg-white.text-center {
    padding: .9em !important; }

  .card {
    margin-bottom: 1.25em; }
    .card .card-header {
      position: relative; }
      .card .card-header strong {
        display: block; }
      .card .card-header small {
        float: left; }
      .card .card-header .card-actions {
        right: 0;
        top: .75rem;
        position: absolute; }

  .card-footer.bg-white.br-0.pl-5.pr-5.pt-0.pb-5 {
    padding-bottom: 1.5em !important;
    padding-left: 1em !important;
    padding-right: 1em !important; }

  .card i + h4 {
    display: inline;
    padding-top: 1em !important; }


  .media.p-4.height-100,
  .widget .row.p-4.height-93 {
    padding: 1rem !important; }

  .height-100 {
    height: 63px; }
 }
 
@media (max-width: 992px) {
  [class*="col"].no-padding {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none; 
     } 
     p {
     	margin-left: 10px;
     }
}

@media (max-width: 768px) {
  .orders {
    overflow: hidden; }

  .order-table .avatar, .order-table .serial {
     display: none; 
   } 
  .list {
	background: red;
  } 
}
    
@media (max-width: 575px) {
  
.col-lg-10 p{
	padding: 5px;
}

.tables-stats th{
	float: right;
    border: 2px solid black;
}
}

/* OBIETTIVI */

.list {
	margin: 0 auto;
    width: 800px;
	padding: 20px 40px;
    position: relative;
    background-color: #fff;
    border-top: 20px solid cyan;
    border-bottom: 20px solid cyan;
    border-radius: 5px;
}
@media (max-width: 992px){
	.list {
    	width: 600px;
        transition: 0.5s ease;
    }
}
@media (max-width: 768px){
	.list {
    	width: 460px;
        transition: 0.5s ease;
    }
}

.list h2 {
	color: rgb(45,108,180);
    font-size: 40px;
    font-family: 'holyfatregular', sans-serif;
    padding: 10px 0;
    display: inline-block;
	border-bottom: 4px solid #fff;
}

.list label {
	position: relative;
    display: block;
    margin: 20px 0;
    color: #455a64;
    font-size: 20px; 
    cursor: pointer;
}

.list input[type="checkbox"] {
	-moz-appearance: none;
	-webkit-appearance: none;
}

.list i {
	position: absolute;
    top: 2px;
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid #455a64;;
}

.list input[type="checkbox"]:checked ~ i {
	top: 1px;
    border-top: none;
    border-right: none;
    height: 15px;
    width: 25px;
    transform: rotate(-45deg);
}

.list span {
	position: relative;
    left: 40px;
    transition: 0.5s;
}

.list span:before {
	content: '';
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #455a64;
    transform: translateY(-50%) scaleX(0);
    transform-origin: right;
    transition: transform 0.5s
}

.list input[type="checkbox"]:checked ~ span {
	color: color: #455a64;;
}

.list input[type="checkbox"]:checked ~ span:before {
    transform: translateY(-50%) scaleX(1);
    transform-origin: left;
    transition: transform 0.5s	
}

.stat-status {
	font-size: 40px;
    font-family: 'holyfatregular', sans-serif;
}
.stat-modify a{
	font-size: 22px;
}
.stat-modify a:hover{
	color: #007bff;
    text-shadow: 1px 1px 1px blue;
}
.stat-text a:hover {
	color: #007bff;
    text-shadow: 1px 1px 1px blue;
}

.denied {
	color: red;
    font-size: 22px;
    font-style: italic;
    text-align: center;
}

.btn-delete button{
	background: red;
    font-size: 20px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
.btn-send button{
	background: #007bff;
    font-size: 20px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
.btn-cancel button{
	background: #fd7e14;
    font-size: 20px;
    color: #000;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
.btn-close button{
	background: #28a745;
    font-size: 20px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
.btn-requests button{
	background: #20c997;
    font-size: 20px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
.btn-save {
	background: #F1C40F;
    font-size: 20px;
    color: #000;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
.btn-start button{
	background: #E74C3C ;
    font-size: 20px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

