@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*, *:before, *:after {
	margin: 0;
    padding: 0;
  	box-sizing: border-box;
}

html {
	height: 100vh;
}

body {
	background: linear-gradient(to left, #412722, #8a4e37);
    width: 100%;
    height: 100vh;
}

.content {
	height: 100vh;
}

.input-pw {
	display: initial;
}


form{
	position: relative;
    margin: auto;
}

.pw-box{
	position: relative;
    margin: auto;
    padding-top: 100px;
	width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pw-box .label{
	font-size: 26px;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 250px;
    
}

.pw-box .col{
	display: flex;
	width: 500px;
    height: 45px;
    padding: 5px;
    margin: 25px 0;
    border: 0;
    border-radius: 5px;

}

.pw-box .input-pw{
	width: 200px;
    border: 1px solid rgb(45,108,180);
    border-radius: 2px;
    padding: 5px;
}

.pw-box .input-pw:hover{
	-webkit-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.6);
	-moz-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.6);
	box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.6);
}

.pw-box .button{
	width: 180px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    background: rgb(45,108,180);
    color: white;
}

.pw-box .button:hover{
	cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    transition: 0.4s;

}

#message{
	font-size: 24px;
    margin: 10px;
    background: rgba(255,255,255,0.3)
}

/*==================================================
============= Background animations  ===============
==================================================*/

.box-area {
	position: absolute;
    left: 0;
    width: 100%;
    height: 120vh;
    overflow: hidden;
}

.box-area li {
	position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,0.3);
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.box-area li:nth-child(1) {
	left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 76%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}
.box-area li:nth-child(7) {
	left: 1%;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation-duration: 8s;
}
.box-area li:nth-child(8) {
	left: 92%;
    width: 50px;
    height: 50px;
    animation-delay: 6.5s;
    animation-duration: 8s;
}

@keyframes animate{
	0% {
    	transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
    	transform: translateY(-1200px) rotate(360deg);
        opacity: 0;
    }
}